@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.splide__slide img {
  opacity: .6; /* 左右のスライドを薄くする */
  transform: scale(.8); /* 左右のスライドを小さくする */
  transition: .7s; /* ゆっくり小さくさせる */
}

.splide__slide.is-active img {
  border-radius: 15px;
  opacity: 1;
  transform: scale(1.2); /* 真ん中のスライドを大きく表示 */
  /* z-index: 2; 真ん中のスライドを前面に表示 */
}
.splide__slide img {
  border-radius: 15px;
  /* width: 100%; */
}

.splide__pagenation__page.is-active button {
  background-color: black;
}

.ul-pseudo {
  position: relative;
}

.ul-pseudo::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(156 163 175);
  /* z-index: 1; */
}
@media screen and (min-width: 1024px) {
	.ul-pseudo::after {
    content: '';
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 85%;
    height: 2px;
    background-color: rgb(156 163 175);
    /* z-index: 1; */
  }
}
.li-pseudo {
  position: relative;
}
.li-pseudo::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  z-index: 1;
}
.hamburger {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  padding: 10px;
}
.hamburger span:nth-child(1) {
  top: 12.5px;
}
.hamburger span:nth-child(2) {
  top: 19px;
}
.hamburger span:nth-child(3) {
  top: 25.5px;
}
.hamburger span {
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  left:10px;
  background: rgba(0,0,0,0.87);
  transition: 0.4s ease-in-out;
}
.hamburger.active span:nth-child(1) {
  top: 20px;
  left: 12px;
  background: rgba(0, 0, 0, 0.87);
  transform: rotate(-45deg);
}
.hamburger.active span:nth-child(2), .hamburger.active span:nth-child(3) {
  top: 20px;
  left: 12px;
  background: rgba(0, 0, 0, 0.87);
  transform: rotate(45deg);
}
.drawer-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 200px;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out 0s;
}

.p-header::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 18vh;
  bottom: 50;
  background: #CC0033;
  transform-origin: 0;
  transform: skewY(-1.5deg);
  box-shadow: 0 2px 4px rgba(0,0,0,.3);
  z-index: -1;
  transition: .5s cubic-bezier(.165,.84,.44,1);
  transition: .5s var(--ease-out-quart);
}

.p-header-nav {
  display: flex;
  position: relative;
  align-items: center;
  color: #c03;
  color: var(--cp-docomo-red);
  height: 5.4375rem;
  background-color: #fff;
  border-radius: 99px 0 0 99px;
  box-shadow: 0 3px 6px rgba(0,0,0,.16);
  padding: 0.5625rem 0.625rem 0.5625rem 4.375rem;
  margin: 1.25rem 0 0 auto;
  line-height: 1;
  transition: .4s cubic-bezier(.165,.84,.44,1);
  transition: .4s var(--ease-out-quart);
  transition-property: height margin-top;
  overflow: hidden;
}

.search-content {
  border-top: 1px solid #AEAEAE;
  background-color: #F9F9F9;
  color: #AEAEAE;
  line-height: 22px;
  font-weight: bold;
  padding-left: 7px;
  margin-bottom: 23px;
}

.radio__label-icon {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 22px;
  border: solid 1px #d15006;
  border-radius: 50%;
}

.radio > input {
  display: none;
}
input:checked + .radio__label .radio__label-icon::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 14px;
  height: 14px;
  background: #d15006;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  animation: 0.3s option-label-marker-expansion cubic-bezier(0.32, 2.32, 0.61, 0.27) forwards;
}

.nav-menu::after{
  content: "";
  display: inline-block;
  height: 12px;
  width: 12px;
  border: 2px solid #212121;
  border-left-width: 0;
  border-top-width: 0;
  transform: translate(0, 0) rotate(-45deg);
  background: none;
}
.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}